astroid==1.6.6
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.1
certifi==2022.12.7
chardet==3.0.4
configparser==4.0.2
enum34==1.1.6
futures==3.3.0
html5lib==1.0.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
pylint==1.9.5
requests==2.22.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.4
telepot==12.7
urllib3==1.25.6
webencodings==0.5.1
wrapt==1.11.2
